.icon-style {
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

.h-600
{
    height: 600px !important;
}

.h-500
{
    height: 500px !important;
}

.cd__main{
    background: #fff;
    padding: 20px !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.cd__main{
    display: flex;
    width: 100%;
}

.btn-custum {
    background-color: #7679ff;
    border-radius: 0;
    font-weight: 900;
    color: #fff;
}

@media only screen and (min-width: 1360px){
    .cd__main{
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      padding: 24px;
    }
}
